.records {
  position: absolute;
  top: 300px;
  right: calc(50% - 300px);
  animation-name: userData;
  animation-duration: 3s;
}

@keyframes userData {
  from {
    transform: translateX(-110%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.records__user-name {
  margin-top: 30px;
  font-size: 50px;
  color: #6b6b6b;
}

.records__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  margin-top: 40px;
}

.records__max-time {
  font-size: 25px;
  color: #ff1e1e;
}

.records__ball {
  font-size: 25px;
  color: #367e18;
}

.records__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restart__link {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 25px;
  text-align: center;
  background-color: #645caa;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
    background-color: #00ffd1;
    color: #6b6b6b;
  }
}

.main-page-link {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 25px;
  text-align: center;
  background-color: #00ffd1;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: #6b6b6b;
  
  &:hover {
    transform: scale(1.2);
    background-color: #645caa;
    color: #fff;
  }
}
